.slide-body {
    padding: 30px 40px;
}
#deck {
    font-family: Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
}
#deck h1 {
    font-size: 55px;
    font-weight: bold;
    padding-bottom: 25px;
}
#deck h2 {
    font-size: 35px;
    padding-bottom: 45px;
}
#deck p, #deck li {
    font-size: 30px;
    margin: 20px 0 20px 0;
}
#deck ul {
    margin-left: 60px;
}
#deck ul li {
    list-style-type: square;
}
