<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="shortcut icon" href="<%= @root %>/favicon.ico"/>

  <!--[if lt IE 9]>
  <script src="lib/html5shim.js"></script>
  <![endif]-->

  <!-- These are some core styles the slideshow app requires -->
  <link rel="stylesheet" href="lib/styles.css" />

  <!-- These are the styles you'll add to make the slides look great -->
  <link rel="stylesheet" href="<%= @root %>/css/styles.css" />

  <title>slideshow.html</title>
</head>

<body>
  <div id="content">
    <div id="deck">
      <% no = 1 %>
      <% loop do %>
        <%= slide = partial "slide#{no}.html" %>
        <% break if slide.empty? %>
        <% no += 1 %>
      <% end %>
    </div>
  </div>

  <header id="toolbar" class="bottom hide-background">
    <h1 class="hide">An example slideshow</h1>
    <nav>
      <ul>
        <li><button id="prev-btn" title="Previous slide" class="hide">Previous Slide</button></li>
        <li><span id="slide-number"></span>/<span id="slide-total"></span></li>
        <li><button id="next-btn" title="Next Slide" class="hide">Next Slide</button></li>
      </ul>
    </nav>
  </footer>

  <script src="lib/jquery-1.5.2.min.js"></script>
  <script src="lib/jquery.jswipe-0.1.2.js"></script>
  <script src="lib/html-slides.js"></script>
  <% if @live %><script src="lib/live.js"></script><% end %>

  <script>
    // Do our business when the DOM is ready for us
    $(function() {
      // You can trigger Javascript based on the slide number like this:
      $('html').bind('newSlide', function(e, id) {
        switch(id) {
          case 2:
            console.log('This is the second slide.');;
            break;
          case 3:
            console.log('Hello, third slide.');
            break;
        }
      });
      htmlSlides.init();
    });
  </script>
</body>
</html>