<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="shortcut icon" href="<%= @root %>/favicon.ico"/>

  <!--[if lt IE 9]>
  <script src="lib/html5shim.js"></script>
  <![endif]-->

  <!-- These are some core styles the slideshow app requires -->
  <link rel="stylesheet" href="lib/styles.css" />

  <!-- These are the styles you'll add to make the slides look great -->
  <link rel="stylesheet" href="<%= @root %>/css/styles.css" />

  <title>slideshow.html</title>
</head>

<body>
  <div id="container">
    <div id="deck">
      <% no = 1 %>
      <% loop do # Loop until it can't find more slides %>
        <%= slide = partial "slide#{no}.html" %>
        <% break if slide.empty? %>
        <% no += 1 %>
      <% end %>
    </div>
  </div>

  <!-- You can change the class "bottom to "top" -->
  <header id="toolbar" class="bottom">
    <h1 class="hide">An example slideshow</h1>
    <nav>
      <ul>
        <!-- Add the class "hide" if you want an element to be visible only on mouseover -->
        <li class="hide">
          <a id="prev-btn" title="Previous slide">&#9664;</a>
        </li>
        <li>
          <span id="slide-number"></span>/<span id="slide-total"></span>
        </li>
        <li class="hide">
          <a id="next-btn" title="Next Slide">&#9654;</a>
        </li>
      </ul>
    </nav>
  </footer>

  <script src="lib/jquery-1.5.2.min.js"></script>
  <script src="lib/jquery.jswipe-0.1.2.js"></script>
  <script src="lib/html-slides.js"></script>
  <% if @live %><script src="lib/live.js"></script><% end %>

  <script>
    // Do our business when the DOM is ready for us
    $(function() {
      // You can trigger Javascript based on the slide number like this:
      $('html').bind('newSlide', function(e, id) {
        switch(id) {
          case 2:
            console.log('This is the second slide.');;
            break;
          case 3:
            console.log('Hello, third slide.');
            break;
        }
      });

      // Init!
      htmlSlides.init();

      // You can specify the width to height ratio like this:
      // htmlSlides.init({ slideWidth: 1280, slideHeight: 800 });
    });
  </script>
</body>
</html>